In [1]:
# import lib
import shapefile
import rasterio
import cv2
from scipy import spatial
from scipy import ndimage as ndi
from scipy.optimize import curve_fit
from scipy.interpolate import interp1d

from kneed import KneeLocator
import matplotlib.pyplot as plt
from skimage import io,filters,util,color,img_as_ubyte
from skimage.transform import hough_line, hough_line_peaks
from skimage.morphology import disk, dilation, erosion, remove_small_objects
from skimage.measure import regionprops
from skimage.feature import greycomatrix,greycoprops
import math
import numpy as np
import os
import pandas as pd
import re
from datetime import datetime,date
from tqdm import tqdm

In [2]:
def coor_sort_new(list_p):
    for i in range(len(list_p)):
        j=i
        for j in range(len(list_p)):
            if (list_p[i][0]<list_p[j][0]):
                list_p[i],list_p[j]=list_p[j],list_p[i]
            if (list_p[i][1]>list_p[j][1]):
                list_p[i],list_p[j]=list_p[j],list_p[i]
    if (list_p[0][1]>list_p[1][1]):
        left_top = list_p[0]
        right_top = list_p[1]
        left_bottom = list_p[2]
        right_bottom = list_p[3]
        
    else:
        left_top = list_p[1]
        right_top = list_p[0]
        left_bottom = list_p[3]
        right_bottom = list_p[2]
    sort_p = np.array([left_top,left_bottom,right_top,right_bottom], dtype="float64")
    return sort_p

In [3]:
# The canopy height of the plot was extracted in batches
def plot_height(chm_dir, RTK_information_path, mask_path, scale_factor):
    mask_line = io.imread(mask_path)
    selem = disk(7)
    Grid_Image = dilation(mask_line, selem)
    Grid_Segment = np.logical_not(Grid_Image) 
    Grid_Segment_Refine = erosion(Grid_Segment, disk(3))
    list_bbox_area = []
    Labelled_Plot_Img_o, num_features_o = ndi.measurements.label(Grid_Segment_Refine)
    for region in regionprops(Labelled_Plot_Img_o):
        list_bbox_area.append(region.area)
    re_area = np.max(list_bbox_area)*0.4
    Grid_Segment_Refine = remove_small_objects(Grid_Segment_Refine, re_area)
    Labelled_Plot_Img, num_features = ndi.measurements.label(Grid_Segment_Refine)
    #print(num_features)
    test_dir=os.path.abspath(os.path.dirname(chm_dir))
    try:
        os.mkdir(test_dir+'\\'+'process')
        pro_dir=test_dir+'\\'+'process'

        os.mkdir(test_dir+'\\'+'mask')
        mask_dir=test_dir+'\\'+'mask'

        os.mkdir(test_dir+'\\'+'result')
        result_dir = test_dir+'\\'+'result'
    except FileExistsError:
        pro_dir=test_dir+'\\'+'process'
        mask_dir=test_dir+'\\'+'mask'
        result_dir = test_dir+'/'+'result'
        
    sf = shapefile.Reader(RTK_information_path,'rb')
    shapes = sf.shapes()
    list_p = []
    num=0
    for i in shapes:
        list_p.append(shapes[num].points[0])
        num+=1
        
    geo_coords = coor_sort_new(list_p)
    
    try:
        os.mkdir(result_dir+'\\'+'height')
        height_dir=result_dir+'\\'+'height'

    except FileExistsError:
        height_dir=result_dir+'\\'+'height'
    
    chm_path = os.listdir(chm_dir)
    for name in tqdm(range(len(chm_path))):
        
        dataset = rasterio.open(chm_dir+'\\'+chm_path[name])
        upper_left_x, upper_left_y = (geo_coords[0][0],geo_coords[0][1])
        upper_left_row, upper_left_col = dataset.index(upper_left_x, upper_left_y)
        lower_left_x, lower_left_y = (geo_coords[1][0],geo_coords[1][1])
        lower_left_row, lower_left_col = dataset.index(lower_left_x, lower_left_y)
        upper_right_x, upper_right_y = (geo_coords[2][0],geo_coords[2][1])
        upper_right_row, upper_right_col = dataset.index(upper_right_x, upper_right_y)
        lower_right_x, lower_right_y = (geo_coords[3][0],geo_coords[3][1])
        lower_right_row, lower_right_col = dataset.index(lower_right_x, lower_right_y)

        columns_1 = np.int64(math.sqrt((upper_left_row-lower_left_row)**2
                                      + (upper_left_col-lower_left_col)**2))
        columns_2 = np.int64(math.sqrt((upper_right_row-lower_right_row)**2
                                      + (upper_right_col-lower_right_col)**2))
        columns_val = np.max((columns_1,columns_2))

        rows_1 = np.int64(math.sqrt((upper_left_row-upper_right_row)**2
                                   + (upper_left_col-upper_right_col)**2))
        rows_2 = np.int64(math.sqrt((lower_left_row-lower_right_row)**2
                                   + (lower_left_col-lower_right_col)**2))
        rows_val = np.max((rows_1,rows_2))

        img_tif = io.imread(chm_dir+'\\'+chm_path[name])
        pts1 = np.float32([[upper_left_col,upper_left_row],[upper_right_col,upper_right_row],[lower_left_col,lower_left_row],
                           [lower_right_col,lower_right_row]])
        pts2 = np.float32([[0,0],[rows_val,0],[0,columns_val],[rows_val,columns_val]])
        M_PT = cv2.getPerspectiveTransform(pts1,pts2)
        dst_PT = cv2.warpPerspective(img_tif,M_PT,(rows_val,columns_val))

        # Extract the height
        list_cencoor = list()
        Centroid_coordinates = list()
        height_list_max = list()
        height_list_mean = list()
        height_list_median = list()
        height_list_1 = list()
        height_list_3 = list()
        height_list_5 = list()
        height_list_10 = list()
        canopy_list= list()
        
        for region in regionprops(Labelled_Plot_Img):
            minr, minc, maxr, maxc = region.bbox
            
            col_val = ((maxc-minc)/2)*scale_factor  
            row_val = ((maxr-minr)/2)*scale_factor  
            
            list_cencoor.append(region.centroid[1])
            Centroid_coordinates.append(region.centroid)
            roi=dst_PT[int(region.centroid[0]-row_val):int(region.centroid[0]+row_val),
                       int(region.centroid[1]-col_val):int(region.centroid[1]+col_val)]
            roi = roi[roi>=0]
            roi = roi[roi<=3]
            height_list_max.append(np.max(roi)*100)
            height_list_mean.append(np.mean(roi)*100)
            height_list_median.append(np.median(roi)*100)
            height_list_1.append(np.mean(roi[roi>np.percentile(roi, 99)])*100)
            height_list_3.append(np.mean(roi[roi>np.percentile(roi, 97)])*100)
            height_list_5.append(np.mean(roi[roi>np.percentile(roi, 95)])*100)
            height_list_10.append(np.mean(roi[roi>np.percentile(roi, 90)])*100)
            
        #rows = np.unique(np.array(Centroid_coordinates)[:,0]).shape[0]
        diff_rows = np.diff(np.array(Centroid_coordinates)[:,0])
        thresh = filters.threshold_isodata(diff_rows)
        #print(thresh,diff_rows)
        rows_fil=list(filter(lambda x:x>thresh, diff_rows))
        rows_fil = len(rows_fil)+1
        columns = int(len(Centroid_coordinates)/rows_fil)
        row_index=[]
        column_index=[]
        for i in range(int(rows_fil)):
            for j in range(int(columns)):
                row_index.append(i+1)
                column_index.append(j+1)
        
        Centroid_coordinates_y_array = np.array(list_cencoor)
        height_max_array = np.array(height_list_max)
        height_mean_array = np.array(height_list_mean)
        height_median_array = np.array(height_list_median)
        height_1_array = np.array(height_list_1)
        height_3_array = np.array(height_list_3)
        height_5_array = np.array(height_list_5)
        height_10_array = np.array(height_list_10)        
        height_max_new = []
        height_mean_new = []
        height_median_new= []
        height_1_new = []
        height_3_new = []
        height_5_new = []
        height_10_new = []
        for n in range(0, rows_fil):
            sub_array_y = Centroid_coordinates_y_array[n*columns:columns+n*columns]
            sub_array_max_heights = height_max_array[n*columns:columns+n*columns]
            sub_array_mean_heights = height_mean_array[n*columns:columns+n*columns]
            sub_array_median_heights = height_median_array[n*columns:columns+n*columns]
            sub_array_1_height = height_1_array[n*columns:columns+n*columns]
            sub_array_3_height = height_3_array[n*columns:columns+n*columns]
            sub_array_5_height = height_5_array[n*columns:columns+n*columns]
            sub_array_10_height = height_10_array[n*columns:columns+n*columns]
            rank = np.argsort(sub_array_y)
            sub_array_max_heights = sub_array_max_heights[rank]
            sub_array_mean_heights = sub_array_mean_heights[rank]
            sub_array_median_heights = sub_array_median_heights[rank]
            sub_array_1_height = sub_array_1_height[rank]
            sub_array_3_height = sub_array_3_height[rank]
            sub_array_5_height = sub_array_5_height[rank]
            sub_array_10_height = sub_array_10_height[rank]
            for i in range(0,sub_array_max_heights.shape[0]):
                sub_element_max = sub_array_max_heights[i]
                sub_element_mean = sub_array_mean_heights[i]
                sub_element_median = sub_array_median_heights[i]
                sub_element_1 = sub_array_1_height[i]
                sub_element_3 = sub_array_3_height[i]
                sub_element_5 = sub_array_5_height[i]
                sub_element_10 = sub_array_10_height[i]

                height_max_new.append(sub_element_max)
                height_mean_new.append(sub_element_mean)
                height_median_new.append(sub_element_median)
                height_1_new.append(sub_element_1)
                height_3_new.append(sub_element_3)
                height_5_new.append(sub_element_5)
                height_10_new.append(sub_element_10)

        dt = pd.DataFrame({'rows':row_index, 'columns':column_index,'max':height_max_new,'mean':height_mean_new,'median':height_median_new,
                   '1%':height_1_new,'3%':height_3_new,'5%':height_5_new,'10%':height_10_new})
        dt.to_csv(height_dir+'\\'+chm_path[name][3:-4]+'_canopy_height'+'.csv',encoding="gbk")    
        display(dt)

In [4]:
# Merge the CSV file of canopy height
def merge_height(canopy_height_dir, cho_label):
    height_path = os.listdir(canopy_height_dir)
    test_dir=os.path.abspath(os.path.dirname(canopy_height_dir))
    
    try:
        os.mkdir(test_dir+'\\'+'height_merge')
        merge_dir=test_dir+'\\'+'height_merge'
    except FileExistsError:
        merge_dir=test_dir+'\\'+'height_merge'
        
    df_ext = pd.read_csv(canopy_height_dir+'\\'+height_path[0])
    dt_merge = pd.DataFrame({'rows':df_ext['rows'].values, 'columns':df_ext['columns'].values})
    for name in range(len(height_path)):
        name_str = height_path[name]
        name_num=re.findall(r"\d+\.?\d*",name_str)
        num_max=max(name_num, key = len)
        year, mon, day = num_max[0:4],num_max[4:6],num_max[6:]
        dt_date = date(int(year), int(mon), int(day))
        df_height = pd.read_csv(canopy_height_dir+'\\'+height_path[name])
        plot_he = df_height[cho_label]
        dt_merge[dt_date]=plot_he.values
    
    merge_path = merge_dir+'\\'+'canopy_height_merge.csv'
    dt_merge.to_csv(merge_path,encoding="gbk")
    display(dt_merge)
    return(merge_path)

In [5]:
# dynamic traits
def height_max_rate(merge_height_path, date_start, batch_number):
    test_dir=os.path.abspath(os.path.dirname(merge_height_path))
    test_dir=os.path.abspath(os.path.dirname(test_dir))
    try:
        os.mkdir(test_dir+'\\'+'height_max_rate')
        height_max_rate_dir=test_dir+'\\'+'height_max_rate'
    except FileExistsError:
        height_max_rate_dir=test_dir+'\\'+'height_max_rate'
        
    df_height = pd.read_csv(merge_height_path)
    date_df = df_height.columns[3:]
    list_days = []
    for i in date_df:
        try:
            year_i, mon_i, day_i = i.split('-')
        except ValueError:
            year_i, mon_i, day_i = i.split('/')
        days_num = (datetime(int(year_i), int(mon_i), int(day_i)) - date_start).days
        list_days.append(np.int(days_num))
    list_data = []
    list_entry = []
    for data in df_height.itertuples():
        list_data.append(data[4:])
        list_entry.append(data[1])
    date_ = pd.date_range(date_start, date_df[-1])
    date_all = date_.date
    
    list_fit = []
    list_data_max = []
    list_date_max = []

    height_growth_rate = []
    height_growth_days = []
    for i in range(len(list_data)):
        entry_no = list_entry[i]
        x = np.asarray(list_days)
        y = np.asarray(list_data[i])
        x_real = np.asarray(list_days[0:])
        y_real = np.asarray(list_data[i][0:])

        list_x_cho = []
        list_y_cho = []
        groups = int(np.round(y_real.shape[0] / batch_number))
        #print(y_real.shape[0])
        step = int(y_real.shape[0] / groups)+1
        for j in range(0, y_real.shape[0], step):
            y_div = y_real[j : j + step]
            x_div = x_real[j : j + step]
            percentile = np.percentile(y_div, (25, 50, 75), interpolation='midpoint')
            Q1 = percentile[0]
            Q3 = percentile[2]

            y_cho = y_div[y_div <= Q3]
            y_cho_fin = y_cho[y_cho >= Q1]

            x_cho = x_div[y_div <= Q3]
            x_cho_fin = x_cho[y_cho >= Q1]

            list_x_cho.extend(x_cho_fin)
            list_y_cho.extend(y_cho_fin)

        x_fin = np.asarray(list_x_cho)
        y_fin = np.asarray(list_y_cho)
        x_all = np.arange(0, list_days[-1]+1)

        def gaus(x,a,x0,sigma):
            return a * np.exp(-(x-x0)**2/(2*sigma**2))
        peak_value = y_fin.max()
        mean = x_fin[y_fin.argmax()]
        sigma = mean - np.where(y_fin > peak_value * np.exp(-.5))[0][0]
        try:
            popt,pcov = curve_fit(gaus, x_fin, y_fin, p0=[peak_value, mean, sigma])

            list_fit.append(gaus(x_all,*popt))
            list_poly = []
            for l in x_all:
                list_poly.append(gaus(l,*popt))

            list_date_max.append(date_all[list_poly.index(max(list_poly))])
            list_data_max.append(max(list_poly))

            kneedle_cov_inc = KneeLocator(x_all,
                      gaus(x_all,*popt),
                      curve='convex',
                      direction='increasing',
                      online=True)
            fast_date_st = date_all[kneedle_cov_inc.knee]
            fast_height_st = gaus(kneedle_cov_inc.knee,*popt)

            kneedle_con_inc = KneeLocator(x_all,
                              gaus(x_all,*popt),
                              curve='concave',
                              direction='increasing',
                              online=True)
            if date_all[kneedle_cov_inc.knee] < date_all[kneedle_con_inc.knee]:
                fast_date_en = date_all[kneedle_con_inc.knee]
                fast_height_en = gaus(kneedle_con_inc.knee,*popt)
            elif date_all[kneedle_cov_inc.knee] < date_all[list_poly.index(max(list_poly))]:
                fast_date_en = date_all[list_poly.index(max(list_poly))]
                fast_height_en = max(list_poly)
            else:
                fast_date_en = date_all[kneedle_con_inc.knee]
                fast_height_en = gaus(kneedle_con_inc.knee,*popt)
                try:
                    year_0, mon_0, day_0 = date_df[0].split('-')
                except ValueError:
                    year_0, mon_0, day_0 = date_df[0].split('/')
                fast_date_st = date(int(year_0), int(mon_0), int(day_0))
                fast_height_st = y_real[0]

            num_day = fast_date_en - fast_date_st
            height_dif = fast_height_en - fast_height_st
            growth_rate = height_dif/num_day.days
            height_growth_days.append(num_day.days)
            height_growth_rate.append(growth_rate)
            
        except RuntimeError:
            popt,pcov = curve_fit(gaus, x_fin, y_fin, p0=[peak_value, mean, sigma],maxfev=400000)

            list_fit.append(gaus(x_all,*popt))
            list_poly = []
            for l in x_all:
                list_poly.append(gaus(l,*popt))

            list_date_max.append(date_all[list_poly.index(max(list_poly))])
            list_data_max.append(max(list_poly))

            kneedle_cov_inc = KneeLocator(x_all,
                      gaus(x_all,*popt),
                      curve='convex',
                      direction='increasing',
                      online=True)
            fast_date_st = date_all[kneedle_cov_inc.knee]
            fast_height_st = gaus(kneedle_cov_inc.knee,*popt)

            kneedle_con_inc = KneeLocator(x_all,
                              gaus(x_all,*popt),
                              curve='concave',
                              direction='increasing',
                              online=True)
            if date_all[kneedle_cov_inc.knee] < date_all[kneedle_con_inc.knee]:
                fast_date_en = date_all[kneedle_con_inc.knee]
                fast_height_en = gaus(kneedle_con_inc.knee,*popt)
            elif date_all[kneedle_cov_inc.knee] < date_all[list_poly.index(max(list_poly))]:
                fast_date_en = date_all[list_poly.index(max(list_poly))]
                fast_height_en = max(list_poly)
            else:
                fast_date_en = date_all[kneedle_con_inc.knee]
                fast_height_en = gaus(kneedle_con_inc.knee,*popt)
                try:
                    year_0, mon_0, day_0 = date_df[0].split('-')
                except ValueError:
                    year_0, mon_0, day_0 = date_df[0].split('/')
                fast_date_st = date(int(year_0), int(mon_0), int(day_0))
                fast_height_st = y_real[0]

            num_day = fast_date_en - fast_date_st
            height_dif = fast_height_en - fast_height_st
            growth_rate = height_dif/num_day.days
            height_growth_days.append(num_day.days)
            height_growth_rate.append(growth_rate)
            
    dt_height_growth_rate = pd.DataFrame({'rows':df_height['rows'].values, 'columns':df_height['columns'].values,
                                      'max canopy height date':list_date_max, 'max canopy height(cm)':list_data_max,
                                      'fast canopy height growth days':height_growth_days,
                                      'fast canopy height growth rate(cm/day)':height_growth_rate})
    dt_height_growth_rate.to_csv(height_max_rate_dir+'\\'+'canopy_height_max_rate'+'.csv',encoding="gbk")
    display(dt_height_growth_rate)

In [6]:
# Don't denoising, extraction dynamic traits
def non_deno_height_max_rate(merge_height_path, date_start):
    test_dir=os.path.abspath(os.path.dirname(merge_height_path))
    test_dir=os.path.abspath(os.path.dirname(test_dir))
    try:
        os.mkdir(test_dir+'\\'+'height_max_rate')
        height_max_rate_dir=test_dir+'\\'+'height_max_rate'
    except FileExistsError:
        height_max_rate_dir=test_dir+'\\'+'height_max_rate'
        
    df_height = pd.read_csv(merge_height_path)
    date_df = df_height.columns[3:]
    list_days = []
    for i in date_df:
        try:
            year_i, mon_i, day_i = i.split('-')
        except ValueError:
            year_i, mon_i, day_i = i.split('/')
        days_num = (datetime(int(year_i), int(mon_i), int(day_i)) - date_start).days
        list_days.append(np.int(days_num))
    list_data = []
    list_entry = []
    for data in df_height.itertuples():
        list_data.append(data[4:])
        list_entry.append(data[1])
    date_ = pd.date_range(date_start, date_df[-1])
    date_all = date_.date
    
    list_fit = []
    list_data_max = []
    list_date_max = []

    height_growth_rate = []
    height_growth_days = []
    for i in range(len(list_data)):
        entry_no = list_entry[i]
        x = np.asarray(list_days)
        y = np.asarray(list_data[i])
        x_real = np.asarray(list_days[0:])
        y_real = np.asarray(list_data[i][0:])

        list_x_cho = []
        list_y_cho = []
        x_all = np.arange(0, list_days[-1]+1)
        
        def gaus(x,a,x0,sigma):
            return a * np.exp(-(x-x0)**2/(2*sigma**2))
        peak_value = y_real.max()
        mean = x_real[y_real.argmax()]
        sigma = mean - np.where(y_real > peak_value * np.exp(-.5))[0][0]
        try:
            popt,pcov = curve_fit(gaus, x_real, y_real, p0=[peak_value, mean, sigma])

            list_fit.append(gaus(x_all,*popt))
            list_poly = []
            for l in x_all:
                list_poly.append(gaus(l,*popt))

            list_date_max.append(date_all[list_poly.index(max(list_poly))])
            list_data_max.append(max(list_poly))

            kneedle_cov_inc = KneeLocator(x_all,
                      gaus(x_all,*popt),
                      curve='convex',
                      direction='increasing',
                      online=True)
            fast_date_st = date_all[kneedle_cov_inc.knee]
            fast_height_st = gaus(kneedle_cov_inc.knee,*popt)

            kneedle_con_inc = KneeLocator(x_all,
                              gaus(x_all,*popt),
                              curve='concave',
                              direction='increasing',
                              online=True)
            if date_all[kneedle_cov_inc.knee] < date_all[kneedle_con_inc.knee]:
                fast_date_en = date_all[kneedle_con_inc.knee]
                fast_height_en = gaus(kneedle_con_inc.knee,*popt)
            elif date_all[kneedle_cov_inc.knee] < date_all[list_poly.index(max(list_poly))]:
                fast_date_en = date_all[list_poly.index(max(list_poly))]
                fast_height_en = max(list_poly)
            else:
                fast_date_en = date_all[kneedle_con_inc.knee]
                fast_height_en = gaus(kneedle_con_inc.knee,*popt)
                try:
                    year_0, mon_0, day_0 = date_df[0].split('-')
                except ValueError:
                    year_0, mon_0, day_0 = date_df[0].split('/')
                fast_date_st = date(int(year_0), int(mon_0), int(day_0))
                fast_height_st = y_real[0]

            num_day = fast_date_en - fast_date_st
            height_dif = fast_height_en - fast_height_st
            growth_rate = height_dif/num_day.days
            height_growth_days.append(num_day.days)
            height_growth_rate.append(growth_rate)
            
        except RuntimeError:
            popt,pcov = curve_fit(gaus, x_real, y_real, p0=[peak_value, mean, sigma],maxfev=400000)

            list_fit.append(gaus(x_all,*popt))
            list_poly = []
            for l in x_all:
                list_poly.append(gaus(l,*popt))

            list_date_max.append(date_all[list_poly.index(max(list_poly))])
            list_data_max.append(max(list_poly))

            kneedle_cov_inc = KneeLocator(x_all,
                      gaus(x_all,*popt),
                      curve='convex',
                      direction='increasing',
                      online=True)
            fast_date_st = date_all[kneedle_cov_inc.knee]
            fast_height_st = gaus(kneedle_cov_inc.knee,*popt)

            kneedle_con_inc = KneeLocator(x_all,
                              gaus(x_all,*popt),
                              curve='concave',
                              direction='increasing',
                              online=True)
            if date_all[kneedle_cov_inc.knee] < date_all[kneedle_con_inc.knee]:
                fast_date_en = date_all[kneedle_con_inc.knee]
                fast_height_en = gaus(kneedle_con_inc.knee,*popt)
            elif date_all[kneedle_cov_inc.knee] < date_all[list_poly.index(max(list_poly))]:
                fast_date_en = date_all[list_poly.index(max(list_poly))]
                fast_height_en = max(list_poly)
            else:
                fast_date_en = date_all[kneedle_con_inc.knee]
                fast_height_en = gaus(kneedle_con_inc.knee,*popt)
                try:
                    year_0, mon_0, day_0 = date_df[0].split('-')
                except ValueError:
                    year_0, mon_0, day_0 = date_df[0].split('/')
                fast_date_st = date(int(year_0), int(mon_0), int(day_0))
                fast_height_st = y_real[0]

            num_day = fast_date_en - fast_date_st
            height_dif = fast_height_en - fast_height_st
            growth_rate = height_dif/num_day.days
            height_growth_days.append(num_day.days)
            height_growth_rate.append(growth_rate)
            
    dt_height_growth_rate = pd.DataFrame({'rows':df_height['rows'].values, 'columns':df_height['columns'].values,
                                      'max canopy height date':list_date_max, 'max canopy height(cm)':list_data_max,
                                      'fast canopy height growth days':height_growth_days,
                                      'fast canopy height growth rate(cm/day)':height_growth_rate})
    dt_height_growth_rate.to_csv(height_max_rate_dir+'\\'+'non_deno_canopy_height_max_rate'+'.csv',encoding="gbk")
    display(dt_height_growth_rate)

In [7]:
# Step 1: batch extract plot canopy height
chm_dir = r"D:\AirMeasurer_testdata_20songjiang\choose_field_1_201124\chm"
RTK_information_path = r"D:\AirMeasurer_testdata_20songjiang\rtk_new\sj_20200803_r.shp"
mask_path = r"D:\AirMeasurer_testdata_20songjiang\choose_field_1_201124\mask\_mask.png"
scale_factor = 0.9
plot_height(chm_dir, RTK_information_path, mask_path, scale_factor)

  0%|                                                                                           | 0/15 [00:00<?, ?it/s]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,6.529972,0.137828,0.099102,1.325900,0.773020,0.624716,0.472122
1,1,2,1.853618,0.153485,0.100440,1.185915,0.858050,0.726112,0.561539
2,1,3,1.631179,0.131879,0.087336,0.885337,0.692149,0.601091,0.473103
3,1,4,43.101966,8.052931,3.923840,36.276841,34.058830,32.597789,29.522160
4,1,5,42.538673,15.436858,14.858335,36.995018,35.037366,33.977938,32.382372
...,...,...,...,...,...,...,...,...,...
471,34,10,78.170025,50.780249,54.183102,73.924100,72.097784,70.999604,69.275850
472,34,11,76.199216,24.294476,23.182134,65.202987,59.805375,57.028055,52.454001
473,34,12,88.850689,40.125373,39.376435,77.340382,73.586863,71.526295,68.403679
474,34,13,73.537010,33.663264,30.425569,67.493141,64.278615,62.503135,59.763187
475,34,14,77.365071,28.684074,27.033469,70.506424,67.554653,64.925212,58.559555

  7%|█████▌                                                                             | 1/15 [00:01<00:17,  1.23s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,11.941469,0.272136,0.125755,3.543474,2.153491,1.716438,1.241623
1,1,2,2.725813,0.265384,0.158141,1.489687,1.179055,1.056047,0.894956
2,1,3,2.339435,0.248123,0.132383,1.626885,1.304364,1.161546,0.963669
3,1,4,42.845756,20.578393,23.742327,38.976982,37.241611,36.325735,34.903824
4,1,5,46.460751,29.243329,31.237781,43.584117,42.357466,41.657537,40.545648
...,...,...,...,...,...,...,...,...,...
471,34,10,61.789536,36.738646,39.562079,59.364671,58.084971,57.354093,56.108534
472,34,11,58.737010,18.332544,16.958416,48.514870,45.694971,43.951881,40.754977
473,34,12,63.009053,28.818896,30.981785,57.332247,54.587233,53.319401,51.311904
474,34,13,56.112844,20.431291,22.241434,45.499694,42.379934,40.978914,38.930568
475,34,14,64.819765,25.001702,24.179721,58.618706,56.138420,54.736328,52.495110

 13%|███████████                                                                        | 2/15 [00:02<00:15,  1.21s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,15.868419,0.219162,0.105466,4.419137,2.150454,1.580638,1.072996
1,1,2,11.197150,0.217072,0.113192,2.917343,1.675680,1.320914,0.956023
2,1,3,5.586824,0.210960,0.127534,1.832434,1.244731,1.037388,0.805226
3,1,4,65.840381,43.532375,46.159112,60.436445,58.081967,57.003146,55.421823
4,1,5,66.672003,44.330630,46.856704,63.073874,60.699821,59.362769,57.377160
...,...,...,...,...,...,...,...,...,...
471,34,10,82.989258,60.897696,62.455237,78.796762,77.478135,76.657951,75.390017
472,34,11,62.832898,27.010742,30.683082,53.278273,50.207853,48.597473,46.284240
473,34,12,80.910397,49.510106,54.545403,74.610591,72.909755,71.959448,70.406586
474,34,13,67.792451,32.165632,35.520396,53.307414,50.707752,49.428004,47.568938
475,34,14,78.520697,38.006705,46.673506,68.985039,66.256332,65.001988,63.015682

 20%|████████████████▌                                                                  | 3/15 [00:03<00:14,  1.22s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,2.887091,0.092075,0.055933,0.975182,0.631470,0.510839,0.373532
1,1,2,15.616566,0.160131,0.058004,4.644497,2.139384,1.520403,0.956765
2,1,3,3.795482,0.085903,0.044552,1.673315,0.923995,0.658519,0.423413
3,1,4,74.058080,48.955300,53.241342,68.209440,66.420829,65.470970,63.999283
4,1,5,72.333205,45.753255,48.942813,67.414325,65.437227,64.040440,61.899763
...,...,...,...,...,...,...,...,...,...
471,34,10,77.860093,56.360584,58.593667,70.903999,69.016850,68.125457,66.801459
472,34,11,55.487704,33.290306,34.571594,50.152820,48.365095,47.335848,45.680791
473,34,12,79.722887,53.100669,55.207074,75.232774,72.698534,71.381903,69.369555
474,34,13,63.631654,37.903115,39.705554,57.546914,55.307978,54.256672,52.547610
475,34,14,77.371186,49.309865,53.630030,70.359224,67.112285,65.622616,63.706100

 27%|██████████████████████▏                                                            | 4/15 [00:04<00:13,  1.25s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,8.921638,1.504949,1.116733,4.783329,4.384448,4.187158,3.891772
1,1,2,4.420924,0.907471,0.648118,3.595610,3.433285,3.308731,2.977194
2,1,3,3.859025,0.244046,0.112828,2.892354,1.898277,1.494671,1.095943
3,1,4,89.621329,61.450738,65.810633,82.303137,79.791665,78.570914,76.812130
4,1,5,88.950193,60.903519,64.336205,79.909927,78.180683,77.304649,75.950432
...,...,...,...,...,...,...,...,...,...
471,34,10,94.504642,73.275745,74.959290,88.893092,87.567437,86.673957,85.047346
472,34,11,67.664558,33.791551,37.454134,59.233713,54.722291,52.634627,49.954128
473,34,12,88.747835,63.212490,67.868048,83.036631,81.198901,80.253494,78.803593
474,34,13,68.181163,43.063566,45.163456,62.416250,60.114348,58.824706,56.972438
475,34,14,89.971524,53.228772,55.806470,81.470579,78.140140,76.357692,73.481292

 33%|███████████████████████████▋                                                       | 5/15 [00:06<00:12,  1.26s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,70.784032,0.640709,0.265637,14.333579,7.289101,5.296998,3.404766
1,1,2,22.246213,0.860288,0.396557,12.233859,8.359630,6.503297,4.405281
2,1,3,85.483730,7.190161,0.262664,73.765266,66.346961,60.736692,49.692088
3,1,4,124.168813,90.170270,92.869985,111.256838,108.240116,106.846476,104.795098
4,1,5,136.246181,106.498361,109.232879,132.377827,130.825901,129.852819,127.972257
...,...,...,...,...,...,...,...,...,...
471,34,10,118.084741,100.691772,103.736639,115.910816,114.623773,113.956034,112.878335
472,34,11,88.545769,45.325935,45.410004,76.128310,69.350451,66.605449,62.374258
473,34,12,119.551480,77.639669,80.826581,99.471492,95.610857,93.870705,91.722053
474,34,13,83.038235,59.369940,61.609036,75.219834,72.806329,71.626443,70.072311
475,34,14,129.629266,101.115239,110.155165,125.018156,122.983253,121.932721,120.426250

 40%|█████████████████████████████████▏                                                 | 6/15 [00:07<00:11,  1.26s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,72.112811,0.333701,0.059098,12.187441,5.781562,4.077645,2.488323
1,1,2,65.896660,0.555727,0.069223,15.525672,8.391324,6.220083,4.018611
2,1,3,91.007912,6.758939,0.414455,76.393563,64.670086,58.531260,47.378090
3,1,4,120.994711,83.752173,85.756612,115.564632,111.723113,108.550930,102.553773
4,1,5,138.673127,116.976571,121.874189,135.038781,133.708906,132.988048,131.820250
...,...,...,...,...,...,...,...,...,...
471,34,10,109.015393,85.304296,87.780207,100.393438,98.247761,97.268689,95.864832
472,34,11,76.264209,31.588244,31.197920,65.968394,58.133775,54.089063,48.040143
473,34,12,80.212820,60.590351,61.512244,76.533699,74.795526,73.683447,71.820205
474,34,13,62.510049,42.520988,43.591151,54.892939,52.999896,52.004808,50.676024
475,34,14,104.945278,86.002028,89.891702,99.824226,98.268372,97.473502,96.316540

 47%|██████████████████████████████████████▋                                            | 7/15 [00:08<00:10,  1.27s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,78.273290,2.112797,1.056023,50.771874,29.899430,20.871110,12.239082
1,1,2,62.435132,2.819524,0.827931,52.120543,41.281340,33.338982,20.392317
2,1,3,92.664647,14.779374,1.956702,82.472175,76.126057,71.164072,63.129812
3,1,4,113.014555,83.815277,87.567419,109.001589,107.649004,106.835246,105.286682
4,1,5,142.316341,86.642808,85.826546,133.831072,129.685736,126.694703,121.522498
...,...,...,...,...,...,...,...,...,...
471,34,10,125.811970,98.535991,102.963161,118.042612,116.168892,114.964664,113.269746
472,34,11,95.717555,32.032520,32.869801,57.008475,50.174189,47.419453,44.309083
473,34,12,88.669282,58.210742,61.056012,81.129503,77.787751,76.016408,73.399544
474,34,13,92.306018,37.568036,39.151779,56.540859,52.042955,50.594866,48.836038
475,34,14,112.187207,87.305146,91.055095,103.763115,101.551139,100.510895,98.986733

 53%|████████████████████████████████████████████▎                                      | 8/15 [00:10<00:08,  1.26s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,22.468290,0.678927,0.156587,10.027100,7.062934,5.772949,4.184223
1,1,2,72.835279,1.138498,0.159019,37.598246,19.632569,14.386424,8.797880
2,1,3,99.646336,13.135649,4.211898,85.214043,68.926108,62.626964,54.149425
3,1,4,130.006862,87.319654,83.954203,126.159179,124.505091,123.458648,121.623087
4,1,5,142.114317,111.440372,118.097603,136.208594,134.125662,132.891691,130.918467
...,...,...,...,...,...,...,...,...,...
471,34,10,143.354428,121.842170,124.384391,138.449669,136.930883,136.164248,134.753883
472,34,11,106.485379,50.276178,51.565051,74.673021,68.108380,65.638101,62.594169
473,34,12,120.613468,77.230817,79.259145,96.661663,94.094425,92.712295,90.608507
474,34,13,96.328813,55.116832,57.778060,73.566872,70.033354,68.688089,66.918027
475,34,14,126.737213,106.238437,108.709729,120.520806,118.522227,117.513847,116.045439

 60%|█████████████████████████████████████████████████▊                                 | 9/15 [00:11<00:07,  1.26s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,96.195555,5.049804,0.326388,85.469449,73.095119,62.323445,42.579401
1,1,2,59.679288,3.178407,0.513922,44.012645,35.407725,30.283004,21.320112
2,1,3,118.536830,12.654375,6.715270,105.802011,83.578455,69.314492,52.893454
3,1,4,114.903164,67.189920,66.902691,105.985510,102.633107,99.970412,94.363970
4,1,5,124.626064,90.247536,92.082059,118.347752,115.956163,114.566731,112.175012
...,...,...,...,...,...,...,...,...,...
471,34,10,141.095388,118.936729,121.117294,134.806883,133.150005,132.233274,130.727053
472,34,11,106.142282,43.464392,42.510229,96.802557,86.068946,79.268849,68.886954
473,34,12,115.324140,68.362790,69.573438,101.051903,94.405138,91.347647,86.712813
474,34,13,110.884881,42.854905,43.914795,87.970859,72.336864,65.562266,59.095734
475,34,14,116.309226,93.363005,95.524538,107.807362,105.887163,104.965568,103.625011

 67%|██████████████████████████████████████████████████████▋                           | 10/15 [00:12<00:06,  1.25s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,95.482707,3.155931,0.337188,72.267461,52.211857,38.423735,23.485528
1,1,2,71.435511,4.859013,0.781250,52.289104,41.541430,36.200494,27.255523
2,1,3,115.745258,13.378569,10.355926,67.133009,51.551217,46.997285,40.633491
3,1,4,113.022554,64.852113,64.110613,101.736009,99.097580,97.092146,91.649109
4,1,5,116.574121,66.940492,68.445122,106.700420,101.427567,98.585457,94.296938
...,...,...,...,...,...,...,...,...,...
471,34,10,129.651022,106.194723,110.129726,125.198007,123.385036,122.440743,120.945132
472,34,11,106.302667,45.556489,41.742811,99.369591,95.304847,92.437083,85.520226
473,34,12,112.230682,72.999412,74.703705,106.804812,100.784624,97.107244,92.009610
474,34,13,113.408327,47.844937,47.894233,103.460097,93.933320,87.137985,74.860704
475,34,14,115.467119,95.477682,98.104525,108.818281,107.161236,106.379497,105.283773

 73%|████████████████████████████████████████████████████████████▏                     | 11/15 [00:13<00:04,  1.24s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,105.608940,3.214924,0.642865,69.251949,42.931852,31.946048,21.400750
1,1,2,68.026578,5.528002,1.194327,48.175642,41.265458,36.976239,29.319045
2,1,3,111.734402,12.127594,9.245826,85.160130,60.628152,50.406784,39.203626
3,1,4,94.977140,62.419194,61.741024,90.458846,87.895697,86.204964,82.283503
4,1,5,110.844028,64.964503,65.804183,99.157381,90.375257,86.783588,82.333440
...,...,...,...,...,...,...,...,...,...
471,34,10,143.202496,88.663125,90.009803,125.988173,118.622386,115.853333,112.543344
472,34,11,107.624376,58.694679,51.682210,101.484454,97.552329,95.887411,92.657828
473,34,12,115.739894,75.347763,75.355119,108.588600,103.993404,101.035619,96.420777
474,34,13,146.975136,58.332127,52.434158,139.294326,123.771226,113.461173,102.842367
475,34,14,117.349052,92.316478,96.085459,109.500992,107.655489,106.740582,105.304134

 80%|█████████████████████████████████████████████████████████████████▌                | 12/15 [00:14<00:03,  1.24s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,106.662536,5.646002,0.622550,87.828344,64.632273,53.405756,36.347520
1,1,2,65.943962,7.347286,4.948651,47.351152,35.016009,30.086696,24.847004
2,1,3,115.700638,15.289637,13.689756,90.795243,64.840621,53.270209,41.918993
3,1,4,99.170303,61.745900,61.924952,94.156402,90.917891,88.897347,84.399772
4,1,5,112.002134,65.090197,67.111218,102.167451,94.100553,90.043378,85.181606
...,...,...,...,...,...,...,...,...,...
471,34,10,143.524253,92.178077,95.260143,122.313964,118.301380,116.582823,113.890362
472,34,11,109.760833,58.700460,50.961369,101.954269,98.257142,96.384311,93.360716
473,34,12,117.450976,74.773419,74.699986,109.464681,105.352056,102.451193,97.144496
474,34,13,145.441699,54.544550,49.608821,114.657950,102.477205,98.532969,93.799746
475,34,14,111.492324,90.678108,93.436003,105.327046,103.989875,103.196037,101.919639

 87%|███████████████████████████████████████████████████████████████████████           | 13/15 [00:16<00:02,  1.25s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,104.192853,6.724465,0.622533,88.361502,75.106579,64.769381,46.312949
1,1,2,59.774262,10.254775,7.509813,49.118003,41.328204,38.231021,33.869338
2,1,3,109.479213,19.219810,16.388920,102.957594,86.562610,71.617496,55.364990
3,1,4,108.974004,61.974847,61.727035,96.683180,92.932564,90.627807,84.932953
4,1,5,142.355764,72.011536,74.045503,108.807850,103.484523,100.572944,95.718884
...,...,...,...,...,...,...,...,...,...
471,34,10,121.687317,76.416409,77.331889,108.956695,105.720937,104.175925,101.161361
472,34,11,91.458869,46.825445,40.347615,84.936947,83.169246,82.045376,79.896665
473,34,12,104.952085,66.172171,67.011917,96.634668,92.942184,90.756810,86.889768
474,34,13,122.365189,46.656317,44.056875,99.366784,88.384199,84.254122,78.551513
475,34,14,106.302130,86.519730,89.138418,100.176573,98.931533,98.153090,97.005928

 93%|████████████████████████████████████████████████████████████████████████████▌     | 14/15 [00:17<00:01,  1.25s/it]

,rows,columns,max,mean,median,1%,3%,5%,10%
0,1,1,97.729766,5.363247,1.805949,79.416460,56.269121,45.095634,30.649474
1,1,2,59.094036,9.467917,7.429937,47.631231,39.468950,35.343832,29.909161
2,1,3,116.188729,19.181170,15.346242,94.410968,79.358494,67.788905,52.718598
3,1,4,112.201428,62.799716,61.955404,102.594376,97.732121,94.857138,90.029073
4,1,5,111.742580,67.544317,68.758690,103.575230,99.762553,97.123772,92.685688
...,...,...,...,...,...,...,...,...,...
471,34,10,134.256220,46.844468,44.439149,123.679447,111.626637,101.189375,85.344338
472,34,11,75.598001,39.762214,41.628724,67.534751,64.453501,62.551266,58.155143
473,34,12,99.401116,62.643492,63.311327,95.685440,92.495131,90.296131,86.605293
474,34,13,88.171953,46.105990,46.556774,80.881512,76.084536,73.021865,67.212933
475,34,14,112.397528,87.215310,89.975893,106.101799,104.470897,103.561616,102.112556

100%|██████████████████████████████████████████████████████████████████████████████████| 15/15 [00:18<00:00,  1.25s/it]

In [8]:
# Step 2: Merge the CSV file of the canopy height of the cell
canopy_height_dir = r"D:\AirMeasurer_testdata_20songjiang\choose_field_1_201124\result\height"
cho_label = '10%'
merge_path = merge_height(canopy_height_dir, cho_label)

,rows,columns,2020-07-23,2020-07-24,2020-08-03,2020-08-06,2020-08-10,2020-08-22,2020-08-25,2020-08-28,2020-08-31,2020-09-09,2020-09-13,2020-09-19,2020-09-20,2020-09-26,2020-10-13
0,1,1,0.472122,1.241623,1.072996,0.373532,3.891772,3.404766,2.488323,12.239082,4.184223,42.579401,23.485528,21.400750,36.347520,46.312949,30.649474
1,1,2,0.561539,0.894956,0.956023,0.956765,2.977194,4.405281,4.018611,20.392317,8.797880,21.320112,27.255523,29.319045,24.847004,33.869338,29.909161
2,1,3,0.473103,0.963669,0.805226,0.423413,1.095943,49.692088,47.378090,63.129812,54.149425,52.893454,40.633491,39.203626,41.918993,55.364990,52.718598
3,1,4,29.522160,34.903824,55.421823,63.999283,76.812130,104.795098,102.553773,105.286682,121.623087,94.363970,91.649109,82.283503,84.399772,84.932953,90.029073
4,1,5,32.382372,40.545648,57.377160,61.899763,75.950432,127.972257,131.820250,121.522498,130.918467,112.175012,94.296938,82.333440,85.181606,95.718884,92.685688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,34,10,69.275850,56.108534,75.390017,66.801459,85.047346,112.878335,95.864832,113.269746,134.753883,130.727053,120.945132,112.543344,113.890362,101.161361,85.344338
472,34,11,52.454001,40.754977,46.284240,45.680791,49.954128,62.374258,48.040143,44.309083,62.594169,68.886954,85.520226,92.657828,93.360716,79.896665,58.155143
473,34,12,68.403679,51.311904,70.406586,69.369555,78.803593,91.722053,71.820205,73.399544,90.608507,86.712813,92.009610,96.420777,97.144496,86.889768,86.605293
474,34,13,59.763187,38.930568,47.568938,52.547610,56.972438,70.072311,50.676024,48.836038,66.918027,59.095734,74.860704,102.842367,93.799746,78.551513,67.212933
475,34,14,58.559555,52.495110,63.015682,63.706100,73.481292,120.426250,96.316540,98.986733,116.045439,103.625011,105.283773,105.304134,101.919639,97.005928,102.112556

In [9]:
# The third step: denoising, calculating dynamic traits
merge_height_path = r"D:\AirMeasurer_testdata_20songjiang\choose_field_1_201124\result\height_merge\canopy_height_merge.csv"
date_start = pd.Timestamp('2020-06-15')
batch_number = 4
height_max_rate(merge_height_path, date_start, batch_number)

,rows,columns,max canopy height date,max canopy height(cm),fast canopy height growth days,fast canopy height growth rate(cm/day)
0,1,1,2020-10-13,82.479523,41,1.744454
1,1,2,2020-09-29,42.493110,37,1.061857
2,1,3,2020-09-24,58.533888,55,0.882385
3,1,4,2020-09-03,104.457366,53,1.681881
4,1,5,2020-09-11,118.522496,61,1.558213
...,...,...,...,...,...,...
471,34,10,2020-09-10,117.781637,65,1.438343
472,34,11,2020-10-13,98.723635,65,0.787116
473,34,12,2020-10-06,89.861486,32,0.407814
474,34,13,2020-10-13,92.785805,55,0.648563
475,34,14,2020-09-14,104.772624,37,1.078928

In [10]:
# The third step: without denoising, calculate dynamic traits
non_deno_height_max_rate(merge_height_path, date_start)

,rows,columns,max canopy height date,max canopy height(cm),fast canopy height growth days,fast canopy height growth rate(cm/day)
0,1,1,2020-09-29,40.457451,41,0.908302
1,1,2,2020-10-02,33.583779,46,0.651324
2,1,3,2020-09-18,54.879192,51,0.927546
3,1,4,2020-09-08,103.184511,59,1.423165
4,1,5,2020-09-05,117.234964,55,1.790032
...,...,...,...,...,...,...
471,34,10,2020-09-09,120.498975,63,1.535648
472,34,11,2020-09-28,77.033071,72,0.744324
473,34,12,2020-09-24,91.424516,35,0.451120
474,34,13,2020-10-10,79.947055,44,0.253509
475,34,14,2020-09-16,109.135399,38,1.148487